
<div class="center">
	<div class="row">
		<div class="col-sm-12" id="slider">
			<%= image_tag("homeless.jpg", :alt => "homeless")%>
		</div>
	</div>
<div class="row">
	<div class="col-sm-7">
		<h1><small><strong>Welcome to Bright Sparqe</strong></small></h1>
		<a class="subtitle" id="main-subtitle">Bright Sparqe raises monney to help homeless people in Australia.</a>
		<div class="content">
			<div class="content_left">
				<%= image_tag("homeless.jpg", :alt => "homeless")%>
			</div>
			<div class="content_right">
				<p>The organisation primary objective is to assist and provide a breakfast bag to the homeless men, woman and children sleeping in building doorways, benches and on the street. The NGO will pilot the concept in the Melbourne CBD. The Organisational Board has agreed, approved and signed-off the approach to use the Sani- tarium: Up & GO breakfast product and sliced bread from Bakers Delight. The vision is to provide jam (knife), blankets and a deploy support clinic for the potential homeless men, women and children by getting a good start to the day and support on a number of issues</p>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<h1><small><strong>Make a Donation</strong></small></h1>
		<div class="content">
			<div class="content_left">
				
			</div>
			<div class="content_right">
				
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-7">
		<h1><small><strong>Stay in touch!</strong></small></h1>
		<a class="subtitle">To subscribe to the Bright Sparqe e-Newsletter please give us your name and email address.</a>
		<form class="form-horizontal" role="form">
			<div class="form-group">
    <label for="inputFirstName3" class="col-sm-3 control-label">First Name</label>
    <div class="col-sm-9">
      <input  type="text" class="form-control" id="inputFirstName3" placeholder="FirstName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputLastName3" class="col-sm-3 control-label">Last Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputLastName3" placeholder="LastName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputState3" class="col-sm-3 control-label">State</label>
    <div class="col-sm-9">
      <select class="form-control">
  <option>ACT</option>
  <option>NSW</option>
  <option>NT</option>
  <option>QLD</option>
  <option>SA</option>
  <option>TAS</option>
  <option selected="selected">VIC</option>
  <option>WA</option>
  <option>Outside Australia</option>
</select>
    </div>
  </div>
  <div class="form-group">
    <div style="float:right;padding-right:20px">
      <button type="submit" class="btn btn-default">Submit it</button>
    </div>
  </div>
  <hr/>
  <div class="social" id="form_social">
  	<h4 style="color:white">Follow on us! </h4>
   <a class="btn btn-social-icon btn-facebook">
    <i class="fa fa-facebook"></i>
  </a>  
  <a class="btn btn-social-icon btn-twitter">
    <i class="fa fa-twitter"></i>
  </a>  
  <a class="btn btn-social-icon btn-linkedin">
    <i class="fa fa-linkedin"></i>
  </a> 
  <a class="btn btn-social-icon btn-tumblr">
    <i class="fa fa-tumblr"></i>
  </a> 

    </div>
</form>
	</div>
	<div class="col-sm-5">
		<h1><small><strong>Support Bright Sparqe in Victoria</strong></small></h1>
		<a class="subtitle">Our work currently helps people experiencing homelessness in Victoria. With your generosity and support, our visions is to reach out to people across Australia.</a>
		<div class="content">
			<%= image_tag("map.jpg", :alt => "map")%>
		</div>
	</div>
</div>
</div>