@import "bootstrap-sprockets";
@import "bootstrap";
$gray-medium-light: #eaeaea;
/* universal */

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    ￼￼￼box-sizing: border-box;
}
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}
html {
    overflow-y: scroll;
}
body {
     margin: 0 auto;
    // width: 70%;
    // clear: both;
}
section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
.container {
    padding-left: 0px;
    padding-right: 0%;
}
#outside_wrap {
    box-shadow: rgba(110, 110, 110, .2) 5px 0px 5px;
}
#inside_wrap {
    box-shadow: rgba(110, 110, 110, .2) -5px 0px 5px;
}
.center {
    margin: 0 auto;
    // padding-left: 10px;
    padding-left: 35px;
    padding-right: 25px;
    text-align: left;
    h1 {
        text-align: left;
        margin-bottom: 10px;
    }
}

/* typography */
form{
    h3,label{
        // color: white;
    }
}
p, a, h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
h1 {
    font-size: 2.6em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}
p {
    font-size: 0.9em;
    line-height: 1.5em;
    color: $gray-light;
}
a {
    color: $gray-light;
}
a:hover {
    color: $gray-light;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
/* header */

.page-header {
    margin-top: 5px;
    margin-bottom: 0px;
    img {
        width: 65%;
    }
}
.logo {
    display: inline-block;
    margin-left: 10px;
}
.info {
    // border: 1px solid black;
    display: inline-block;
    float: right;
    padding: 10px;
}
#topright {
    // border: 1px solid black;
    text-align: right;
}
#donationToday {
    // border: 1px solid black;
    padding: 10px;
    margin-right: 5px;
    background-color: #eb348b;
    color: white;
    text-decoration: none;
}
.social {
    padding-top: 20px;
    // border: 1px solid black;
}
/*navigation*/

.navbar {
    margin-bottom: 0px;
    text-align: center;
    // border: 1px solid black;
    background-color: #0765c5;
    .nav {
        // border: 1px solid black;
        // margin-left: 10%;
        margin: 0 auto;
    }
    .nav li {
        padding-right: 30px;
    }
    .nav a {
        color: white
    }
    .nav a:hover, .nav .active, .nav a:visited {
        background-color: #065fb7;
        color: white;
    }
}
.navbar-toggle {
    border: 1px solid black;
}
.navbar .navbar-toggle .icon-bar {
    background-color: black;
}
/*home page*/

#slider {
    img {
        width: 100%;
         height: auto;
    }
}
.subtitle {
    font-size: 14px;
}
#main-subtitle {
    font-size: 16px;
}
.content {
    margin-top: 20px;
    img {
        width: 80%;
    }
}
.content_left {
    display: inline-block;
    float: left;
    width: 40%;
    img {
        width: 100%;
    }
}
.content_right {
    display: inline-block;
    width: 50%;
    float: left;
    margin-left: 5%;
    text-align: justify;
}
.form-horizontal {
    margin-top: 20px;
    background-color: $gray-light;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    color: white;
    width: 75%;
}
#form_social {
    margin-top: 0px;
    padding-top: 0px;
}
/*about us page*/
#about_img {

    img{
        width:100%;
        height: 100%;
     }
}
.profile {
    margin-bottom: 30px;
}
/*supporters/donors list page*/

.list_wrap {
    margin-bottom: 50px;
    clear: both;
}
.list {
    list-style: none;
    padding: 0px;
}
.box {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 3px;
    height: 80px;
    width: 140px;
    float: left;
    // border-radius: 5px;
    // -webkit-border-radius: 5px;
    // -moz-border-radius: 5px;
    box-shadow: rgba(110, 110, 110, .4) 5px 5px 5px;
    // -webkit-box-shadow:rgba(110,110,110,.4) 5px 5px 5px;
    img {
        width: 100%;
        height: 100%
        // height: 74px;
        // width: 134px;
    }
}
#list_page_bottom_img {
    img {
        width:100%
    }
}

/*contact us page*/

#contact_img {
    padding: 0px;
    img{width:100%;height:auto}
}

#contact_form_left{
    h4,p{color:white;}
    
}
/* footer */

// footer {

//     clear: both;
//     margin-top: 45px;
//     padding-top: 5px;
//     // border-top: 1px solid $gray-medium-light;
//     color: $gray-light;
//     a {
//         color: $gray;
//         &:hover {
//             color: $gray-darker;
//         }
//     }
//     p {
//         font-size: 1.1em;
//     }
//     small {
//         float: left;
//     }
//     ul {
//         float: right;
//         list-style: none;
//         li {
//             float: left;
//             margin-left: 15px;
//         }
//     }
//     .footer1{
//         background-color: #A5AFB1;
//         width: 100%;
//         height: 40px;
//     };
//     .footer2{
//         background-color: #C1CDD0;
//         width: 100%;

//         height: 100px;
//     }
// }

.donate-screen {
  margin: 0 0 30px;
}
footer{
    margin-top: 20px;
    clear: both;
    nav{
        margin: 0 auto;
        background-color:#A5AFB1;
        width: 100%;
        height: 60px;
        a:link, a:visited{
            color: #505050;
            display: inline-block;
            padding: 20px 20px;
            height: 20px;
        }
        // position: center;
        ul{
            // position: center;
            
            list-style: none;
            li{
                float: left;
                display: inline;
            }
        }
       

    }
     .footer1{
        background-color: #A5AFB1;
        width: 100%;
        height: 40px;
    };
    .footer2{
        background-color: #C1CDD0;
        width: 100%;
        height: 80px;
    }
}
/* forms */
.outside_box{
     // margin-top: 20px;
    // padding: 20px 0px;
    border: 1px solid #889193;
    background-color: #889193;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px;
}
.inside_box{
      margin: 2px;
      padding: 10px 20px;
     border: 1px solid white;
}

form {
    // border: 1px solid #bbb;
    // padding: 20px;
    // background-color: #eaeaea;
    // color: white;
}
input, textarea, select, .uneditable-input {
    color: black;
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 5px;
    @include box_sizing;
}
input {
    height: auto !important;
}
/*error_message*/

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}
.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}
@media only screen and (min-width: 150px)and(max-width: 992px) {
        .container {
    padding: 0px;
}
    .info {
        padding: 10px 10px 0px 0px;
    }
    .navbar {
        .nav li {
            padding-right: 10px;
        }
    }
        footer{
        nav{
            display: none;
        }
    }
}
@media only screen and (min-width: 150px) and (max-width: 525px) {


    .container {
    padding: 0px;
}
    .page-header {
        margin-top: 5px;
        margin-bottom: 0px;
        img {
            width: 80%;
        }
    }
    .logo {
        display: inline-block;
        margin-left: 0px;
        width: 160px;
    }
    #donationToday {
        display: block;
        margin-bottom: 2px;
    }
    .social {
        padding-top: 0px;
    }
    .info {
        padding: 10px 5px 0px 0px;
        #topright{
        display:none;
    }
    }

    .navbar {
        text-align: center;
        border: 1px solid black;
        background-color: #0765c5;
        .nav {
            // border: 1px solid black;
            margin-left: 0;
        }
        .nav li {
            padding-right: 0;
        }
        .nav a {
            color: white
        }
        .nav a:hover, .nav .active, .nav a:visited {
            background-color: #065fb7;
            color: white;
        }
    }
    .content_left {
    display: block;
    // float: left;
     width: 100%;
    // img {
    //     width: 100%;
    // }
}
.content_right {
    display: block;
     width: 100%;
    margin-left: 0;
    margin-top: 10px;
    // text-align: justify;
}
    .form-horizontal {
        width: 100%;
    }
    footer{
        nav{
            display: none;
        }
    }
}